
.admin-login-container {
    min-height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #343435 !important; 
  }
  
  .admin-login-card {
    width: 100%;
    max-width: 28rem; 
    padding: 2rem;
    background: rgb(34, 128, 122) !important;
    border-radius: 0.75rem !important;
    box-shadow: 0 4px 6px -1px rgba(29, 98, 94, 0.1) !important;
  }
  .admin-login-title {
    font-size: 1.875rem; 
    font-weight: 700;
    color: #1f2937; 
    text-align: center;
    margin-bottom: 0.5rem; 
  }
  .admin-login-subtitle {
    color: #1f2021; 
    text-align: center;
    margin-bottom: 2rem;
  }
  .text-input{
    color: #1f2021;
    font-size: medium;
  }
  .admin-login-input {
    width: 100%;
    padding: 0.75rem 1rem;
    color: #374151; 
    border: 1px solid #d1d5db; 
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s;
  }
  .admin-login-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #164d3d; 
  }
  .admin-login-input::placeholder {
    color: #9ca3af;
  }
  .admin-login-button {
    width: 100%;
    padding: 0.625rem 1rem;
    background: #164d3d;
    color: white;
    border-radius: 0.5rem; 
    font-weight: 500; 
    transition: background 0.2s;
    margin-top: 30px;
  }
  .admin-login-button:hover {
    background: #1d697b; 
  }
  .admin-login-error {
    padding: 0.75rem;
    color: #dc2626; 
    background: #fef2f2; 
    border-radius: 0.5rem; 
    text-align: center;
    font-size: 0.875rem; 
  }
  .logo{
    width: 80%;
    align-items: center;
    text-align: center;
    max-height: 50%;
  }